{% extends 'main/base.html' %}

{% block css %} {% load static %} <link rel="stylesheet" href="{% static '/main/about.css' %}"> {% endblock %}
{% block title %} Unstable Space | About {% endblock %}

{% block main %} 
<div class="flexWrapper">
    <div class="topContent"></div>
    <div class="bottomContent">
        <div class="textDiv">
            <p>Online archive of mixes and music.</p> 
            <p>Focus on underground rap & electronic music.</p>
        </div>
        <div class="imgDiv"></div>
    </div>
</div>
{% endblock %}