<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/main/base.css' %}">
    <link rel="icon" href="{% static '/main/img/favicon.ico'%}">
    {% block css %} {% endblock %}
    <title>{% block title%} {% endblock %}</title>
</head>

<body>
    <header>
        <div class="leftHeader">
            <ul class="headerUl">
                <li class="topMenuButtons"><a href="{% url 'mixes' %}">Mixes</a></li>
                <li class="topMenuButtons"><a href="{% url 'gallery' %}">Gallery</a></li>
            </ul>
        </div>
        <a href="{% url 'frontpage' %}"><h1>Unstable Space</h1></a>
        <div class="rightHeader">
            <ul class="headerUl">
                <li class="topMenuButtons"><a href="{% url 'about' %}">About</a></li>
                <li class="topMenuButtons"><a href="{% url 'merch' %}">Merch</a></li>    
            </ul>
        </div>
    </header>
    <main>
        {% block main %} {% endblock %}
    </main>
    <footer>
        <div id="bottomFooter">
            <ul>
                <li id="ustspa">© Unstable Space 2022</li>
                <li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </footer>
</body>
{% block js %}{% endblock %}
</html>