{% extends 'main/base.html' %}

{% block css %} {% load static %} <link rel="stylesheet" href="{% static '/main/front.css' %}"> {% endblock %}
{% block title %} Unstable Space {% endblock %}

{% block main %} 
<div class="flexWrapper">
    <a href=''>
    <div class="topContent hoverGlow">
        <div class="topContentText">
            <a href="{% url 'mixes' %}">Mixes</a>
        </div>
    </div>
    <div class="bottomContent">
        <div class="bottomLeftContent hoverGlow" >
            <div class="bottomLeftContentText">
                <a href="{% url 'gallery' %}">Gallery</a>
            </div>
        </div>
        <div class="bottomRightContent hoverGlow">
            <div class="bottomRightContentText">
                <a href="{% url 'about' %}">About</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}