{% extends 'main/base.html' %}

{% block css %} {% load static %} <link rel="stylesheet" href="{% static '/main/mixes.css' %}"> {% endblock %}
{% block title %} Unstable Digital | Mixes {% endblock %}

{% block main %} 
<div class="flexWrapper">
    <ul class="mixList">
        <div class="selectionMenu">
            <form class="searchForm" method="POST" action="/mixes">
                {% csrf_token %}
                <div class="selectWrapper">
                    <label class="selectText" for="search">Title:</label>
                    <input name="search" type="text" id="searchBar">
                </div>
                <div class="selectWrapper">
                    <label class="selectText" for="search">Genre:</label>
                    <select name="genre" id="dropDownTags">
                        <option value=""></option>
                        {% for genre in genreList %}
                            {% if genre.tag != '' %}
                            <option value="{{ genre.tag }}">{{ genre.tag }}</option>
                            {% endif %}
                        {% endfor %}  
                    </select>
                </div>

                <div class="selectWrapper">
                    <label class="selectText" for="selectBy">Sort:</label>
                    <select name="selectBy" id="sortBy">
                        <option value="newest">Sort by Newest</option>
                        <option value="oldest">Sort by Oldest</option>
                    </select>
                </div>
                <button id="submitButton">Search</button>
            </form>
        </div>
        {% for MixModel in MixModel reversed %}
        <li class='mixListItem'>
            <div class="audioStreamWrapper">
                <audio class="audio" src="{{ MixModel.audio.url }}" id="{{ MixModel.id }}" state="paused"></audio>
                <div class="audioStreamImage"><img src='{{ MixModel.image.url }}' class="thumbnailImage"></div>
                <div class="rightSide">
                    <div class="topBar">
                        <div class="playbackBar">{{MixModel.title}}</div>
                        <form method="POST" action="/mixes">
                            {% csrf_token %}
                            <div class="tagsWrapper">
                                {% if MixModel.tag2 != "" %}
                                <button name="genre" class="tag" value="{{MixModel.tag2}}">{{MixModel.tag2}}</button>
                                {% endif %}
                                <button name="genre" class="tag" value="{{MixModel.tag}}">{{MixModel.tag}}</button>
                            </div>
                        </form>
                    </div>
                    <div class="middleBar">
                        <input class="progressBar" type="range" class="time" value="0">
                    </div>
                    <div class="bottomBar">
                        {% load static %} 
                        <img class="playButton" src="{% static 'main/img/controls/player-play.png' %}" alt="">
                        <img class="mute" src="{% static 'main/img/controls/high-volume.png' %}" alt="">
                        <input class="volume" type="range" class="time" value="75">
                        <div class="timer">0:00 / 0:00</div>
                        <a href="{{ MixModel.audio.url }}" download><img class="download" src="{% static 'main/img/controls/download.png' %}" alt=""></a>
                        <img class ="share" src="{% static 'main/img/controls/share.png' %}" alt="">
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block js%} {% load static %} <script type="text/javascript" src="{% static '/main/js/audioElement.js' %}"></script>{% endblock %}