{% extends 'main/base.html' %}

{% block css %} {% load static %}<link rel="stylesheet" href="{% static '/main/mixes.css' %}"> {% endblock %}
{% block js%} {% endblock %}
{% block title %} Unstable Space | Mixes {% endblock %}

{% block main %} 
<div class="flexWrapper">
    <ul class="mixList">
        <div class="selectionMenu">
            <input type="text">
   
            <select name="series" id="">
                {% for MixModel in MixModel %}
                    <option value="{{ MixModel.tag }}">{{ MixModel.tag }}</option>
                {% endfor %}
            </select>
            <select name="selectBy" id="">
                <option value="oldest">Sort by Oldest</option>
                <option value="newest">Sort by Newest</option>
            </select>
        </div>
        {% for MixModel in MixModel reversed %}
        <li class='mixListItem'>
            <div class="audioStreamWrapper">
                <audio class="audioFile" src="{{ MixModel.audio.url }}" preload="metadata"></audio>
                <div class="audioStreamImage"><img src='{{ MixModel.image.url }}' class="thumbnailImage"></div>
                <div class="rightSide">
                    <div class="topBar">
                        <div class="playbackBar">{{MixModel.title}}</div>
                    </div>
                    <div class="middleBar">
                        <input class="progressBar" type="range" min="0" max="100">
                    </div>
                    <div class="bottomBar">
                        <img class="playButton" src="" alt="">
                        <img class="mute" src="" alt="">
                        <input class="volume" type="range" min="0" max="100" value="70">
                        <img class="download" src="" alt="">
                        <img class ="share" src="" alt="">
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}