{% extends 'main/base.html' %}

{% block css %} {% load static %} <link rel="stylesheet" href="{% static '/main/individualmix.css' %}"> {% endblock %}
{% block js%} {% endblock %}
{% block title %} Unstable Space | {{MixModel.title}} {% endblock %}

{% block main %}
<div id="flexWrapper">
    <div id="leftSide">
        <div id="thumbnail"><img src="{{MixModel.image.url}}" alt=""></div>
        <div id="mixTitle"><h2>{{MixModel.title}}</h2></div>
        <div id="infoWrapper">
            <div class="genreID" value="{{MixModel.tag2}}">{{MixModel.tag2}}</div>
            <div class="genreID" value="{{MixModel.tag1}}">{{MixModel.tag}}</div>
            <div id="date">{{MixModel.date}}</div>
            <div id="creator">{{MixModel.creator}}</div>
        </div>
    </div>
    <div id="rightSide">
        <div id="trackListWrapper">
            <div id="trackListTitle"><p>TRACKLIST</p></div>
            <ul id="trackList">
                {% for tracks in trackList %}
                <li>
                    <div class="artistName">{{tracks.trackTitle}}</div>
                    <div class="trackName">{{tracks.artist}}</div>
                </li>
                {% endfor %}
            </ul>  
        </div>
    </div>
</div>
{% endblock %}