main li {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
    height: 100vh;
    margin: 0;
}

#mixForm input {
    width: 100%;
}
