main {
    display: flex;
    background-color: var(--main);
}

.flexWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

p {
    margin-top: 0;
}