.flexWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topContent {
    background-image: url('img/space.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
}

.bottomContent {
    display: flex;
    flex-direction: row;
}

.bottomLeftContent {
    background-image: url('img/asteroid.jpg');
    height: 300px;
    width: 100%;
    background-size: cover;
}

.bottomRightContent {
    background-image: url('img/nebula.jpg');
    height: 300px;
    width: 100%;
    background-size: cover;
}
