main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContent {
    width: 300px;
    height: 300px;
    background-color: aqua;
}

.bottomContent {
    display: flex;
    flex-direction: row;
}

.bottomLeftContent {
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}

.bottomRightContent {
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}