{% extends 'base.html' %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}"> {% endblock %}
{% block title %} Unstable Space | Contact {% endblock %}

{% block main %} 
<div class="flexWrapper">
    <div class="topContent"></div>
    <div class="bottomContent">
        <div class="textDiv">
            <p>unstablespace@protonmail.com</p>
            <p></p>
            <p></p>
        </div>
        <div class="imgDiv"></div>
    </div>
</div>
{% endblock %}