{% extends 'base.html' %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}"> {% endblock %}
{% block js%} <script src="{{ url_for('static', filename='js/fullscreenImage.js') }}"></script> {% endblock %}
{% block title %} Unstable Space | Secret {% endblock %}

{% block main %} 
<div class="flexWrapper">
    <img id="1" class="image" src="{{ url_for('static', filename='img/space.jpg') }}" alt="">
    <img id="2" class="image" src="{{ url_for('static', filename='img/space.jpg') }}" alt="">
    <img id="3" class="image" src="{{ url_for('static', filename='img/space.jpg') }}" alt="">
    <img id="4" class="image" src="{{ url_for('static', filename='img/space.jpg') }}" alt="">
</div>
<div id="fullscreenView">
    <div class="caption"></div>
</div>

{% endblock %}