{% extends 'base.html' %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='mixes.css') }}"> {% endblock %}
{% block js%} <script src=></script> {% endblock %}
{% block title %} Unstable Space | Secret {% endblock %}

{% block main %} 
<div class="flexWrapper">
    <ul class="mixList">
        <div class="selectionMenu">
            <input type="text">
   
            <select name="series" id="">
                <option value="xyz">xyz</option>
                <option value="abc">abc</option>
            </select>
            <select name="selectBy" id="">
                <option value="oldest">Sort by Oldest</option>
                <option value="newest">Sort by Newest</option>
            </select>
        </div>
        <li>
            <div class="audioStreamWrapper">
                <div class="audioStreamImage">image</div>
                <div class="rightSide">
                    <div class="topBar">
                        <div class="playbackBar">song title</div>
                    </div>
                    <div class="middleBar">
                        <input class="progressBar" type="range" min="0" max="100">
                    </div>
                    <div class="bottomBar">
                        <img class="playButton" src="{{ url_for('static', filename='img/controls/player-play.png')}}" alt="">
                        <img class="mute" src="{{ url_for('static', filename='img/controls/mute.png')}}"" alt="">
                        <input class="volume" type="range" min="0" max="100" value="70">
                        <img class="download" src="{{ url_for('static', filename='img/controls/download.png')}}" alt="">
                        <img class ="share" src="{{ url_for('static', filename='img/controls/share.png')}}" alt="">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

{% endblock %}